#section{
    height: 190px;
    width: 390px;
    padding: 0 15px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    word-wrap: break-word;
}